.small-box, .info-box {
    height: 90px
}
.info-box-number, .small-box h3{
    font-weight: 500;
    font-size: 38px;
}
.main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
}

hr {
    border-top: 1px solid #666666;
}

.help-block {
    margin-left: 5px;
}
/*
.nav-tabs-custom .tab-content{
    background: #c1c1c1;
}


.main-sidebar, .logo {
    position: fixed;
}
*/